[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
# Using * allows Pipenv to find the best match for Python 3.13
sqlalchemy = ">=2.0.0"
psycopg2-binary = "*"
alembic = "*"
python-dotenv = "*"
emails = "*"
uvicorn = {extras = ["standard"], version = "*"}
gunicorn = "*"
passlib = {extras = ["bcrypt"], version = ">=1.7.4"}
bcrypt = ">=4.0.1"
python-jose = {extras = ["cryptography"], version = "*"}

[dev-packages]

[requires]
python_version = "3.13"